.App {
  font-family: sans-serif;
  text-align: center;
}

.tp {
  text-align: left;
  display: flex;
  flex-direction: row;
}
.tp .tp_hour,
.tp .tp_min {
  display: inline-block;
  height: auto;
  border: solid 1px black;
}
.tp .tp_hour {
  width: 132px;
}
.tp .tp_min {
  width: 66px;
}

.tp .tp_hour .tp_hour_scrollwrapper,
.tp .tp_min .tp_min_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.tp .tp_hour .tp_hour_item,
.tp .tp_min .tp_min_item {
  flex: 22px;
  text-align: center;
  line-height: 1.4;
}
.tp .tp_hour .tp_hour_item:hover,
.tp .tp_min .tp_min_item:hover {
  background-color: rgb(160, 151, 151);
  cursor: pointer;
}

.tp .selected {
  background-color: lightskyblue;
}

.tp .tp_min .tp_min_wrapper .tp_min_linebreak {
  width: 100%;
}
